* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: url(../bluelemon.jpg) no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar{
  list-style: none;
  color: #fff;
}

#navbar ul li{
  display: inline-block;
  padding: 1rem;
  position: relative;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/*Hide nested ul by default*/
 
#navbar ul li ul {
  display: none;
}

#navbar ul li:hover {
  cursor: pointer;
  background: yellow;
  color: #fff;
}

#navbar ul li:hover a{
  color: #fff;
}

/*Nested dropdow show*/
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li:hover{
  background: #e0e0e0;
  color: inherit;
} 

#navbar ul li:hover ul li span {
  float: right;
  color: #fff;
  background: yellow;
  padding: 0.2rem 0.5rem;
  text-align:center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span{
  background: coral;
}

#showcase {
  background:url(../bluelemon.jpg) no-repeat center center/cover;
  height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 0;
}

#showcase h1{

  font-size: 4rem ;
}

#showcase p{
  font-size: 2rem;
  padding: 1.5rem;
}

@media(max-width: 600px) {
  #navbar ul li {
    display: block;
  }

  #navbar ul li:hover ul{
    width: 100%;
    position: relative;
  }
}
